body {
    background: #f0f6ff;
}

.top.nav {
    background: #313443;
}

.menu.top {
    padding: 10px;
    text-align: center;
    background: #313443;
}

.content.mid {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
    color: black;
}

/* custom semantic css */
.ui.header.white {
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.88);
}

.ui.inverted.menu.default {
    background: #313443;
}

i.home.icon.size-a {
    font-size: 1.8rem;
}

i.edit.icon.size-a {
    font-size: 1.8rem;
}

h2.ui.header {
    overflow-x: auto;
    white-space: nowrap;
}

/* Nav Style */

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border: 1px solid #e7e7e7;
    background-color: #313443;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4a4e61;
    color: white;
}

li a.active {
    color: white;
    background-color: #3d5959;
}

.active {
    background-color: #3d5959;
    color: white;
}