<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <title>Url Hit - Apply</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/apply.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
</head>

<body>
    <div class="ui overlay visible left vertical inverted sidebar menu default">
        <div class="menu top">
            <img src="{{ url_for('static', filename='imgs/punch.png') }}" width="64">
        </div>
        <div class="menu top">
            <h3 class="ui header white">UrlHit</h3>
        </div>
        <a class="item" href="/">
            <div class="ui header white">
                <i class="home icon size-a">
                </i>
                Home
            </div>
        </a>
        <a class="item" href="/apply">
            <div class="ui header white">
                <i class="edit icon size-a">
                </i>
                Apply
            </div>
        </a>
    </div>
    <div class="pusher">
        <div class="content top">
            <h1 class="ui header">Apply</h1>
        </div>

        <div class="content mid">
            <div class="ui text container segment">
                <h2 class="ui header">Url Apply</h2>
                <p>원하는 URL을 등록하고 해당 링크로 연결하세요.</p>
                <p></p>
            </div>
            <div class="ui one column center aligned grid">
                <div class="row">
                    <div class="column">
                        <div class="ui action right labeled input first">
                            <div class="ui dropdown label">
                                <div class="text" id="protocol">http://</div>
                                <i class="dropdown icon"></i>
                                <div class="menu transition hidden">
                                    <div class="item">http://</div>
                                    <div class="item">https://</div>
                                </div>
                            </div>
                            <input type="text" class="large" id="search-url" placeholder="input your site">
                            <div class="ui blue button" id="search">Search</div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui action right labeled input second transition hidden">
                            <input type="text" class="normal" id="apply-url" placeholder="Find domain" readonly>
                            <div class="ui blue button" id="apply">Apply</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.ui.dropdown.label').dropdown();
            $("#search").click(function() {
                const protocol = $("#protocol").text();
                const _data = {
                    "url": protocol + document.getElementById('search-url').value
                };
                $.ajax({
                    type: "POST",
                    url: "/search",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(_data),
                    success: function(result) {
                        if (result.Code == 409) {
                            $('.ui.action.right.labeled.input.first').addClass('error');
                        } else if (result.Code == 200) {
                            $('.ui.action.right.labeled.input.first').removeClass('error');
                            $('.ui.action.right.labeled.input.second.transition.hidden').transition('fade down');
                            document.getElementById('apply-url').value = result.url;
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            });
         
            $("#apply").click(function() {
                const protocol = $("#protocol").text();
                const _data = {
                    "redirecturl": protocol + document.getElementById('search-url').value,
                    "shareurl": document.getElementById('apply-url').value
                };
                $.ajax({
                    type: "POST",
                    url: "/apply",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(_data),
                    success: function(result) {
                        if (result.Code == 201) {
                            var jbResult = confirm('URL 등록 완료되었습니다.\nURL을 복사하시겠습니까?');
                            if(jbResult) {
                                document.getElementById("apply-url").select();
                                document.execCommand("Copy");
                                alert("url을 복사했습니다.");                                
                            }
                            location.href = "/";
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        </script>
    </div>

</body>

</html>