<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#313443">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <title>Url Hit - Apply</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/apply.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
</head>

<body>
    <script src="{{ url_for('static', filename='js/apply.js') }}"></script>
    <script>
        var _tag = "Default";
        var _size = 0;
        $('.ui.dropdown.label').dropdown();
        $('#add').click(function() {
            var _data = {
                "tag": document.getElementById('tag-input').value,
                "redirecturl": document.getElementById('search-url').value
            };
            $.ajax({
                type: "POST",
                url: "/tag/add",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(_data),
                success: function(result) {
                    console.log(result);
                    $('#label-' + (Number(_size) + 1)).remove();
                    $(".tag-list").append('<a class="ui tag label" id="label-' + (_size + 1) + '" onClick="labelClick()">' + result.tag + '</a>');
                    $(".ui.action.right.labeled.input.second.transition.visible").attr('class', 'ui action right labeled input second transition hidden');
                    $('.ui.action.right.labeled.input.second.transition.hidden').transition('fade down');
                    _tag = result.tag;
                    document.getElementById('apply-url').value = result.url;
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });
        $("#search").click(function() {
            const _data = {
                "url": document.getElementById('search-url').value
            };
            $.ajax({
                type: "POST",
                url: "/search",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(_data),
                success: function(result) {
                    $(".tag-list").empty();
                    _size = Number(result.size)
                    if (result.Code == 409) {
                        $(".ui.action.right.labeled.input.second.transition.visible").attr('class', 'ui action right labeled input second transition hidden');
                        for (var i = 1; i <= result.size; i++) {
                            $(".tag-list").append('<a class="ui tag label" id="label-' + i + '" onClick="labelClick()">' + result.tag[i] + '</a>');
                        }
                        $(".tag-list").append('<a class="ui tag label" id="label-' + (_size + 1) + '" onClick="labelClick()">추가</a>');
                    } else if (result.Code == 200) {
                        $(".ui.action.right.labeled.input.second.transition.visible").attr('class', 'ui action right labeled input second transition hidden');
                        $('.ui.action.right.labeled.input.second.transition.hidden').transition('fade down');
                        document.getElementById('apply-url').value = result.url;
                        for (var i = 1; i <= _size; i++) {
                            $(".tag-list").append('<a class="ui tag label" id="label-' + i + '" onClick="labelClick()">' + result.tag[i] + '</a>');
                        }
                    }
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });
        $("#apply").click(function() {
            const _label = document.getElementById('apply-url').value;
            const _data = {
                "redirecturl": document.getElementById('search-url').value,
                "shareurl": document.getElementById('apply-url').value,
                "tag": _tag
            };
            $.ajax({
                type: "POST",
                url: "/apply",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(_data),
                success: function(result) {
                    if (result.Code == 201) {
                        if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
                            var jbResult =  confirm('해당 URL로 바로 이동하시겠습니까?');
                            if (jbResult) {
                                location.href = document.getElementById('apply-url').value;
                            } else {
                                location.href = "/";
                            }
                        } else {
                            var jbResult = confirm('URL 등록 완료되었습니다.\nURL을 복사하시겠습니까?');
                            if (jbResult) {
                                document.getElementById("apply-url").select();
                                document.execCommand("Copy");
                                alert("url을 복사했습니다.");
                                location.href = "/";
                            }
                        }
                    }
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });

        function labelClick() {
            _tag = $("#" + window.event.target.id).text()
            if (_tag == '추가') {
                $('.ui.tiny.modal')
                    .modal('show');
            }
        }
    </script>
</body>

</html>