<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <title>Url Hit - Apply</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/apply.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
</head>

<body>
    <div class="ui overlay visible left vertical inverted sidebar menu default">
        <div class="menu top">
            <img src="{{ url_for('static', filename='imgs/punch.png') }}" width="64">
        </div>
        <div class="menu top">
            <h3 class="ui header white">UrlHit</h3>
        </div>
        <a class="item" href="/">
            <div class="ui header white">
                <i class="home icon size-a">
                </i>
                Home
            </div>
        </a>
        <a class="item" href="/apply">
            <div class="ui header white">
                <i class="edit icon size-a">
                </i>
                Apply
            </div>
        </a>
    </div>
    <div class="pusher">
        <div class="content top">
            <h1 class="ui header">Apply</h1>
        </div>

        <div class="content mid">
            <div class="ui tiny modal">
                <i class="close icon"></i>
                <div class="header">
                    Tag 추가
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui action fluid right input">
                            <input type="text" class="normal" id="tag-input" placeholder="input new tag">
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui deny button" id="cancel">
                        취소
                    </div>
                    <div class="ui positive right icon button" id="add">
                        추가
                    </div>
                </div>
            </div>
            <div class="ui text container segment">
                <h2 class="ui header">Url Apply</h2>
                <p>원하는 URL을 등록하고 해당 링크로 연결하세요.</p>
                <p></p>
            </div>
            <div class="ui one column center aligned grid">
                <div class="row">
                    <div class="column">
                        <div class="ui action right labeled input first">
                            <input type="text" class="large" id="search-url" placeholder="input your site">
                            <div class="ui blue button" id="search">Search</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column tag-list">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui action right labeled input second transition hidden">
                            <input type="text" class="normal" id="apply-url" placeholder="Find domain" readonly>
                            <div class="ui blue button" id="apply">Apply</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var _tag = "Default";
            var _size = 0;
            $('.ui.dropdown.label').dropdown();
            $('#add').click(function() {
                var _data = {
                    "tag": document.getElementById('tag-input').value,
                    "redirecturl": document.getElementById('search-url').value
                };
                $.ajax({
                    type: "POST",
                    url: "/tag/add",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(_data),
                    success: function(result) {
                        console.log(result);
                        $('#label-' + (Number(_size) + 1)).remove();
                        $(".tag-list").append('<a class="ui tag label" id="label-' + (_size + 1) + '" onClick="labelClick()">' + result.tag + '</a>');
                        $(".ui.action.right.labeled.input.second.transition.visible").attr('class', 'ui action right labeled input second transition hidden');
                        $('.ui.action.right.labeled.input.second.transition.hidden').transition('fade down');
                        _tag = result.tag;
                        document.getElementById('apply-url').value = result.url;
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            });
            
            $("#search").click(function() {
                const _data = {
                    "url": document.getElementById('search-url').value
                };
                $.ajax({
                    type: "POST",
                    url: "/search",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(_data),
                    success: function(result) {
                        $(".tag-list").empty();
                        _size = Number(result.size)
                        if (result.Code == 409) {
                            $(".ui.action.right.labeled.input.second.transition.visible").attr('class', 'ui action right labeled input second transition hidden');
                            for (var i = 1; i <= result.size; i++) {
                                $(".tag-list").append('<a class="ui tag label" id="label-' + i + '" onClick="labelClick()">' + result.tag[i] + '</a>');
                            }
                            $(".tag-list").append('<a class="ui tag label" id="label-' + (_size + 1) + '" onClick="labelClick()">추가</a>');
                        } else if (result.Code == 200) {
                            $(".ui.action.right.labeled.input.second.transition.visible").attr('class', 'ui action right labeled input second transition hidden');
                            $('.ui.action.right.labeled.input.second.transition.hidden').transition('fade down');
                            document.getElementById('apply-url').value = result.url;
                            for (var i = 1; i <= _size; i++) {
                                $(".tag-list").append('<a class="ui tag label" id="label-' + i + '" onClick="labelClick()">' + result.tag[i] + '</a>');
                            }
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            });
            $("#apply").click(function() {
                const _label = document.getElementById('apply-url').value;
                const _data = {
                    "redirecturl": document.getElementById('search-url').value,
                    "shareurl": document.getElementById('apply-url').value,
                    "tag": _tag
                };
                $.ajax({
                    type: "POST",
                    url: "/apply",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(_data),
                    success: function(result) {
                        if (result.Code == 201) {
                            var jbResult = confirm('URL 등록 완료되었습니다.\nURL을 복사하시겠습니까?');
                            if (jbResult) {
                                document.getElementById("apply-url").select();
                                document.execCommand("Copy");
                                alert("url을 복사했습니다.");
                            }
                            location.href = "/";
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            });

            function labelClick() {
                _tag = $("#" + window.event.target.id).text()
                if (_tag == '추가') {
                    $('.ui.tiny.modal')
                        .modal('show');
                }
            }
        </script>
    </div>

</body>

</html>