<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <title>Url Hit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/get.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
</head>
<body>
      <h1>{{ name }} url hit {{ count }}</h1>
</body>
</html>