<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <title>Url Hit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
</head>

<body>
    <div class="ui overlay visible left vertical inverted sidebar menu default">
        <a class="item">
            <div class="ui header white">
                <i class="home icon"></i>
                Home
            </div>
        </a>
        <!-- <a class="item">
            <div class="ui header white">
                <i class="block layout icon"></i>
                DashBoard
            </div>
        </a> -->
    </div>
    <div class="pusher">
        <div class="top">
            <h1 class="ui header">Dashboard</h1>
        </div>
        <h1>Hello {{ name }}!</h1>
    </div>

</body>

</html>